@import './variables';

.input {

  &__form {
    font-size: $form-font-size;

    &--amount {
      width: calc(75% - $form-gap);
      padding: .5em;
      margin-right: $form-gap;
      font-size: inherit;
    }

    &--select {
      width: 25%;
      padding: .5em;
      font-size: inherit;
      cursor: pointer;
    }

    &--preview {
      font-size: calc($form-font-size * 1.5);
      text-align: center;
      margin: $form-gap;
    }

    &--button {
      display: block;
      width: 25%;
      padding: .25em .5em;
      margin: 0 auto;
      font-size: calc($form-font-size * 1.5);
      cursor: pointer;
    }
  }
}